.GetInTouch
{
    width: 100%;
    margin: 50px 0;
    
}
.GetInTouch__content
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    
}
.GetInTouch__content__header
{
    width: 693px;
}
.GetInTouch__content__header h2
{
    color:#03728A;
    
    font-size: 30px;
    font-weight: 900;
    line-height: 36.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.GetInTouch__content__header h1
{
    color:#ffff;
    
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 800;
    line-height: 56.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.GetInTouch__content__header button
{
    background-color: #03728A;
    color: #ffff;
    font-size: 30px;
    font-weight: 900;
    line-height: 36.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


li
{
    margin-top: 20px;
    color : #ffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 641px;
    /* line-height: 1.5; */

}

@media (max-width: 1203px) and (min-width: 768px) {
    .GetInTouch__content
    {
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 20px;
    }
    li
    {
        width: 80%;
    }
    .GetInTouch__content__header button
    {
        width: 80%;
    }
    .GetInTouch__content__header h2
    {
        
        
        font-size: 26px;
        
    }
    .GetInTouch__content__header h1
    {
        color:#ffff;
        
        
        font-size: 40px;
        
    }
    
  }
  
 
  @media (max-width: 767px) {
    .GetInTouch__content
    {
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }
    li
    {
        width: 100%;
    }
    .GetInTouch__content__header button
    {
        width: 95%;
        font-size: 20px;
    }
    .GetInTouch__content__header h2
    {
        
        
        font-size: 26px;
        
    }
    .GetInTouch__content__header h1
    {
        
        
        
        font-size: 35px;
        
    }
    
  }