body {
    margin: 0;
    padding: 0;
    width: 100%;
    
    background-color: #000f1a;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
    }
.container {
    
    width: 90%;
    max-width: 1441px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-family: 'Montserrat', sans-serif; 
    }
button
{
    cursor: pointer;
}