.Services
{
    background-color: #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
}
.Service
{
    width: 305px;
    background-color: #03728A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    
    /* margin: 0; */
    padding: 20px 0 0 0;
}
.Service h2
{
    color: #FFFFFF;
    font-size: 30.79px;
    font-weight: 600;
    line-height: 37.54px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 0;
    


}
.Service p
{
    color: #FFFFFF;
    
    font-size: 23.38px;
    font-weight: 400;
    line-height: 35.06px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@media (max-width: 1428px) and (min-width: 768px) {
    .Services
    {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 20px;
    }
    
}
  
 
  @media (max-width: 767px) {
    .Services
    {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 20px;

    }
    
  }