.Testimonials
{
    background-color: #03728A;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

}
.Testimonials img
{
    width: 225px;
    border-radius: 50%;
    margin-right: 80px;
}
.Testimonials__content
{
    width: 671px;
}
.Testimonials__content h1
{
    color: #ffffff;
    font-size: 34px;
    font-weight: 800;
    line-height: 41.45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.Testimonials__content p
{
    color: #ffffff;

    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.Testimonial_span
{
    font-weight: 500;
}

@media (max-width: 1428px) and (min-width: 768px) {
    .Testimonials
    {
        display: flex;
        flex-wrap: wrap;
        
        gap: 20px;
        padding-top: 20px;
        
    }
    .Testimonials__content
    {
        width: 80%;
    }
    .Testimonials img
    {
        
        margin: 0px;
    }
    .Testimonials__content h1
    {
        
        font-size: 30px;
        text-align: center; 
    }
    .Testimonials__content p
    {
        
        text-align: center;
        font-size: 16px;
        
    }
        
}
  
 
  @media (max-width: 767px) {
    .Testimonials
    {
        display: flex;
        flex-wrap: wrap;
        
        gap: 20px;
        padding-top: 20px;
        

    }
    .Testimonials__content
    {
        width: 80%;
    }
    .Testimonials img
    {
        
        margin: 0px;
    }
    .Testimonials__content h1
    {
        
        font-size: 25px;
        text-align: center; 
    }
    .Testimonials__content p
    {
        
        text-align: center;
        font-size: 16px;
        
    }
    
  }
